<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840601505816-6i6jap4766717bpsllu08guqfp8p2ofb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840601505816-6i6jap4766717bpsllu08guqfp8p2ofb</string>
	<key>API_KEY</key>
	<string>AIzaSyDSnFFe_zXx1mbtXiMSUlCpmjk6l9O8HEE</string>
	<key>GCM_SENDER_ID</key>
	<string>840601505816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.worldbrain.memex</string>
	<key>PROJECT_ID</key>
	<string>worldbrain-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>worldbrain-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840601505816:ios:127496a37cb3ea2a9fb36d</string>
	<key>DATABASE_URL</key>
	<string>https://worldbrain-staging.firebaseio.com</string>
</dict>
</plist>