<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupName</key>
	<string>${GROUP_ID}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${BUNDLE_DISPLAY_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>memex</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>memex</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Satoshi-Black.ttf</string>
		<string>Satoshi-Black.woff</string>
		<string>Satoshi-BlackItalic.ttf</string>
		<string>Satoshi-BlackItalic.woff</string>
		<string>Satoshi-Bold.ttf</string>
		<string>Satoshi-Bold.woff</string>
		<string>Satoshi-BoldItalic.ttf</string>
		<string>Satoshi-BoldItalic.woff</string>
		<string>Satoshi-Italic.ttf</string>
		<string>Satoshi-Italic.woff</string>
		<string>Satoshi-Light.ttf</string>
		<string>Satoshi-Light.woff</string>
		<string>Satoshi-LightItalic.ttf</string>
		<string>Satoshi-LightItalic.woff</string>
		<string>Satoshi-Medium.ttf</string>
		<string>Satoshi-Medium.woff</string>
		<string>Satoshi-MediumItalic.ttf</string>
		<string>Satoshi-MediumItalic.woff</string>
		<string>Satoshi-Regular.ttf</string>
		<string>Satoshi-Regular.woff</string>
		<string>Satoshi-Variable.ttf</string>
		<string>Satoshi-Variable.woff</string>
		<string>Satoshi-VariableItalic.ttf</string>
		<string>Satoshi-VariableItalic.woff</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launcher</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
